<div class="page-wrapper">
    <div ng-controller="AdministracionCtrl">
        <div ng-include src="'js/cartelera/views/menu.html'"></div>
    </div>
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <div class="page-head">
                        <div class="container">
                          <div class="page-title">
                            <h1>Cartelera de la Facultad de Informática <br/>
                              <small>Trabajo final</small>
                            </h1>
                          </div>
                        </div>
                    </div>
                    <!-- BEGIN PAGE CONTENT BODY -->
                    <div class="page-content">
                        <div class="container">
                            <!-- BEGIN PAGE BREADCRUMBS -->
                            <ul class="page-breadcrumb breadcrumb">
                                <li>
                                    <a href="#" ui-sref="cartelera">Home</a> 
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>Mi Perfil</span>
                                </li>
                            </ul>
                            <div class="page-content-inner">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="portlet light">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span class="caption-subject bold uppercase"> Edición usuario</span>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <form class="form-horizontal" name="formularioUsuario" method="POST">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" for="nombre">Nombre:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" type="text" name="nombre" id="nombre" ng-model="usuario.nombre" disabled />
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" for="apellido">Apellido:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" type="text" name="apellido" id="apellido" ng-model="usuario.apellido" disabled />
                                                        </div>
                                                    </div>                   
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" for="username">Usuario:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" type="text" name="username" id="username" ng-model="usuario.usuario" ng-minlength="6" disabled/>
                                                        </div>
                                                    </div>                                 
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" for="email">Email:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" type="email" name="email" id="email" ng-model="usuario.email" disabled/>
                                                        </div>
                                                    </div>
                                                    <div clas="form-group">
                                                        <label class="col-md-3 control-label" for="rol">Rol:</label>
                                                        <div class="col-md-6">
                                                            <select class="form-control" name="rol" id="rol" ng-options="option.name for option in roles.availableOptions track by option.id" ng-model="roles.rol">
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-actions">
                                                        <div class="form-group">
                                                            <div class="col-md-3 col-md-offset-9">
                                                                <a type="button" class="btn default" ui-sref="ABMusuarios()">Atrás</a>
                                                                <input type="submit" class="btn green" value="Enviar" ng-click="modificarPermisos()" ng-disabled="formularioUsuario.$invalid"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div footer style="width: 100%; display: table-row-group;"></div>
</div>