
        <script type="text/javascript">
          $(document).ready(function(){
            $("body").addClass("login");
          });
        </script>
        <!-- BEGIN LOGO -->
        <div class="logo">
            <a href="index.html">
                <img src="" alt="" />
            </a>
            <h3 style="color: white;">Carteleras de la Facultad de Informática - UNLP</h3>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">
            <!-- BEGIN LOGIN FORM -->
            <div ng-if="formLogin == true">
            <form class="login-form" name="formularioLogin" method="POST">
                <h3 class="form-title font-green">Ingreso al sistema</h3>                
                <div ng-if="loginErrorMessage" class="alert alert-danger" role="alert">
                  <small ng-bind="loginErrorMessage"></small>
                </div>
                <div ng-if="registroExitoso" class="alert alert-success" role="alert">
                  <small ng-bind="registroExitoso"></small>
                </div>
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Usuario</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Usuario" name="userName" id="userName" ng-model="usuario.username" required />
                    <span class="help-block" ng-show="formularioLogin.$submitted || formularioLogin.userName.$touched">
                        <span ng-show="formularioLogin.userName.$error.required">El usuario es requerido.</span>
                    </span>
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Contrase&ntilde;a</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Contrase&ntilde;a" name="password" id="userPassword" ng-model="usuario.password" required/>
                    <span class="help-block" ng-show="formularioLogin.$submitted || formularioLogin.password.$touched">
                        <span ng-show="formularioLogin.password.$error.required">La password es requerida.</span>
                    </span>
                </div>
                <div class="form-actions">
                    <input type="submit" id="register-submit-btn" class="btn green uppercase center-block" ng-click="login()" ng-disabled="formularioLogin.$invalid" value="Enviar"/>
                </div>
                <div class="create-account">
                    <p>
                        <a href="#" id="register-btn" class="uppercase" ng-click="registrarUsuario()">Crear una cuenta</a>
                    </p>
                </div>
            </form>
            </div>
            <!-- END LOGIN FORM -->
            <!-- BEGIN REGISTRATION FORM -->
            <div ng-if="formLogin == false">
            <form class="register-form" name="formularioRegistro" style="display:block;">
                <h3 class="font-green">Registrarse</h3>                
                <p class="hint"> Ingres&aacute; tus datos personales: </p>
                <div class="form-group">
                    <input class="form-control placeholder-no-fix" type="text" placeholder="Nombre" name="nombre" id="nombre" ng-model="registro.nombre" ng-model-options="{ updateOn: 'blur' }" required/>
                    <span class="help-block" ng-show="formularioRegistro.$submitted || formularioRegistro.nombre.$touched">
                        <span ng-show="formularioRegistro.nombre.$error.required">El nombre es requerido.</span>
                    </span>
                </div>
                <div class="form-group">
                    <input class="form-control placeholder-no-fix" type="text" placeholder="Apellido" name="apellido" ng-model="registro.apellido" required/>
                    <span class="help-block" ng-show="formularioRegistro.$submitted || formularioRegistro.apellido.$touched">
                        <span ng-show="formularioRegistro.apellido.$error.required">El apellido es requerido.</span>
                    </span>
                </div>
                <div class="form-group">
                    <input class="form-control placeholder-no-fix" type="date" placeholder="Fecha de nacimiento" name="fechaNacimiento" ng-model="registro.fechaNacimiento" required/>
                    <span class="help-block" ng-show="formularioRegistro.$submitted || formularioRegistro.fechaNacimiento.$touched">
                        <span ng-show="formularioRegistro.fechaNacimiento.$error.required">La fecha de nacimiento es requerida.</span>
                        <span ng-show="formularioRegistro.fechaNacimiento.$error.date">La fecha ingresada es inválida.</span>
                    </span>
                </div>
                <div class="form-group">
                    <input class="form-control placeholder-no-fix" type="number" placeholder="DNI" name="dni" ng-model="registro.dni" min="1" max="99999999" required/>
                    <span class="help-block" ng-show="formularioRegistro.$submitted || formularioRegistro.dni.$touched">
                        <span ng-show="formularioRegistro.dni.$error.required">El DNI es requerido.</span>
                        <span ng-show="formularioRegistro.dni.$error.min">El DNI no puede ser menor a 1.</span>
                        <span ng-show="formularioRegistro.dni.$error.max">El DNI no puede ser mayor a 99999999.</span>
                    </span>
                </div>
                <div class="form-group">
                    <input class="form-control placeholder-no-fix" type="email" placeholder="Email" name="email" ng-model="registro.email" required/>
                    <span class="help-block" ng-show="formularioRegistro.$submitted || formularioRegistro.email.$touched">
                        <span ng-show="formularioRegistro.email.$error.required">El email es requerido.</span>
                        <span ng-show="formularioRegistro.email.$error.email">El formato de email es incorrecto.</span>
                    </span>
                </div>
                <div class="form-group">                    
                <p class="hint"> Ingres&aacute; los datos de la cuenta: </p>
                <div class="form-group">
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Usuario" name="username" ng-model="registro.username" ng-minlength="6" required/>
                    <span class="help-block" ng-show="formularioRegistro.$submitted || formularioRegistro.username.$touched">
                        <span ng-show="formularioRegistro.username.$error.required">El usuario es requerido.</span>
                        <span ng-show="formularioRegistro.username.$error.minlength">El usuario debe tener al menos 6 caracteres.</span>
                    </span>
                </div>
                <div class="form-group">
                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="password1" placeholder="Contrase&ntilde;a" name="password1" ng-model="registro.password1" required/>
                    <span class="help-block" ng-show="formularioRegistro.$submitted || formularioRegistro.password1.$touched">
                        <span ng-show="formularioRegistro.password1.$error.required">La password es requerida.</span>
                    </span>
                </div>
                <div class="form-group">
                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Repetir la contrase&ntilde;a" name="password2" ng-model="registro.password2" required pw-check='password1'/>
                    <span class="help-block" ng-show="formularioRegistro.$submitted || formularioRegistro.password2.$touched">
                        <span ng-show="formularioRegistro.password2.$error.required">La password es requerida.</span>
                        <span ng-show="formularioRegistro.password2.$error.pwmatch">Las passwords no coinciden.</span>
                    </span>
                </div>
                <div class="form-actions">
                    <a type="button" id="register-back-btn" class="btn green btn-outline" href="#" ng-click="home()">Atr&aacute;s</a>
                    <input type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right" ng-click="crearUsuario()" ng-disabled="formularioRegistro.$invalid" value="Enviar"/>
                </div>
            </form>
            </div>
            <!-- END REGISTRATION FORM -->
        </div>

        