<div class="page-wrapper">
    <div ng-controller="AdministracionCtrl">
        <div ng-include src="'js/cartelera/views/menu.html'"></div>
    </div>
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <div class="page-head">
                        <div class="container">
                          <div class="page-title">
                            <h1>Cartelera de la Facultad de Informática <br/>
                              <small>Trabajo final</small>
                            </h1>
                          </div>
                        </div>
                    </div>
                    <!-- BEGIN PAGE CONTENT BODY -->
                    <div class="page-content">
                        <div class="container">
                            <!-- BEGIN PAGE BREADCRUMBS -->
                            <ul class="page-breadcrumb breadcrumb">
                                <li>
                                    <a href="#" ui-sref="cartelera">Home</a> 
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>ABM publicaciones</span>
                                </li>
                            </ul>
                            <div class="page-content-inner">
                                <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                        <!-- BEGIN Portlet PORTLET-->
                                        <div class="portlet light">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span class="caption-subject bold uppercase"> Publicaciones en cartelera {{carteleraActual}}</span>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <form class="form-horizontal" name="formularioUsuario" method="POST" ng-show="carteleras.length > 0">
                                                    <div class="form-group">
                                                        <label class="col-md-1 control-label" for="cartelera">Cartelera:</label>
                                                        <div class="col-md-4">
                                                            <select class="form-control" ng-model="selected" ng-change="cargarPublicaciones()">
                                                                <option value="">Elija una cartelera</option>
                                                                <option ng-repeat="cartelera in carteleras" ng-value="{{cartelera.id}}">{{cartelera.nombre}}</option>
                                                            </select>                                                            
                                                        </div>
                                                        <div class="col-md-7">
                                                            <a type="button" class="btn btn-primary uppercase col-md-6 col-md-offset-6" ng-show="selected && carteleras.length > 0" ui-sref="AltaPublicacion(selected)">Agregar publicación</a>
                                                        </div>
                                                    </div>                                                        
                                                </form>
                                                <div class="table-responsive" style="overflow: auto" ng-show="selected && (publicaciones.length > 0)">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead>
                                                            <tr class="uppercase">
                                                                <th>Título</th>
                                                                <th>Creador</th>
                                                                <th>Acción</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="publicacion in publicaciones">
                                                                <td style="width: 50%;">{{ publicacion.titulo }}</td>
                                                                <td style="width: 20%;">{{ publicacion.creador.usuario }}</td>
                                                                <td>
                                                                    <a type="button" class="btn yellow btn-sm btn-outline" ui-sref="EdicionPublicacion({publicacion: publicacion})">
                                                                        <i class="fa fa-pencil"></i> Editar
                                                                    </a> 
                                                                    <button type="button" class="btn red btn-sm btn-outline" ng-click="eliminarPublicacion(publicacion.id);">
                                                                        <i class="fa fa-trash-o"></i> Eliminar
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="alert alert-warning" ng-show="selected && publicaciones.length == 0">
                                                    <strong>Atención</strong>, no hay publicaciones en esta cartelera
                                                </div>
                                                <div class="alert alert-warning" ng-show="carteleras.length == 0 && usuario.rol != 1">
                                                    <strong>Atención</strong>, no hay carteleras en las que tengas permiso para publicar
                                                </div>
                                                <div class="alert alert-warning" ng-show="carteleras.length == 0 && usuario.rol == 1">
                                                    <strong>Atención</strong>, no hay carteleras creadas
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div footer style="width: 100%; display: table-row-group;"></div>
</div>

            