
<script type="text/javascript">
  $(document).ready(function(){
    $("body").removeClass("login");
  });
</script>

<div class="page-wrapper">
  <div ng-controller="AdministracionCtrl">
    <div ng-include src="'js/cartelera/views/menu.html'"></div>
  </div>
  <div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
      <div class="page-container">
        <div class="page-content-wrapper">
          <div class="page-head">
            <div class="container">
              <div class="page-title">
                <h1>Cartelera de la Facultad de Informática <br/>
                  <small>Trabajo final</small>
                </h1>
              </div>
            </div>
          </div>
          <div class="page-content">
            <div class="container">
              <ul class="page-breadcrumb breadcrumb">
                <li>
                  <a ui-sref="cartelera">Home</a>
                  <i class="fa fa-circle"></i>
                </li>
                <li>
                  <span>Carteleras</span>
                </li>
              </ul>
              <div class="page-content-inner">
                <div class="portfolio-content portfolio-1">
                  <div id="js-filters-juicy-projects" class="cbp-l-filters-button">
                    <!--<div data-filter="*" class="cbp-filter-item cbp-filter-item-active btn dark btn-outline uppercase" ng-click="obtenerTodas()">   TODAS
                    </div>-->
                    <div data-filter="*" class="cbp-filter-item btn dark btn-outline uppercase" ng-repeat="cartelera in carteleras" ng-click="cargarPublicaciones(cartelera.id,cartelera.nombre)">   {{cartelera.nombre}}
                    </div>
                  </div>
                </div>
                <div class="col-md-4" dir-paginate="publicacion in cartelera | itemsPerPage: itemsPerPage" pagination-id="publicaciones">
                  <div class="portlet light">
                    <div class="portlet-title">
                      <div class="caption">
                        <span class="caption-subject bold font-grey-gallery uppercase">{{ carteleraActual }}</span>
                      </div>
                    </div>
                    <div class="portlet-body">
                      <div class="thumbnail" ng-show="publicacion.tieneArchivo == 1">
                        <img ng-src="../app/js/cartelera/img/publicaciones/{{ publicacion.multimedia }}" alt="" style="width: 100%; height: 200px;" ng-show="publicacion.tieneArchivo === 1"/>
                        <!--<div class="caption">
                          <h3>{{ publicacion.titulo }}</h3>
                          <p>{{ publicacion.descripcion }}</p>                          
                        </div>-->
                      </div>
                      <div class="caption">
                          <h4>{{ publicacion.titulo }}</h4>
                          <p>{{ publicacion.descripcion }}</p>                          
                        </div>
                      <div>
                          <a class="btn btn-primary" role="button" ui-sref="detail({brick: publicacion.id})">Ver</a>
                          <button type="button" class="btn yellow" ui-sref="EdicionPublicacion({publicacion: publicacion})" ng-show="publicacion.creador.id == usuario.id || usuario.rol == 1">Editar</button>                  
                      </div>
                    </div>
                  </div>
                </div>
                <dir-pagination-controls pagination-id="publicaciones" class="pull-right"></dir-pagination-controls>
                <div class="alert alert-warning" ng-show="cartelera.length == 0">
                    <strong>Atención</strong>, no hay publicaciones en esta cartelera
                </div>
              </div>
            </div>   
          </div>
        </div>
      </div>
    </div>   
  </div>

  <div footer style="width: 100%; display: table-row-group;"></div>
</div>
