<div class="page-wrapper-row" style="width: 100%; display: table;">
  <div class="page-header" style="height: auto;">
    <div class="page-header-top">
      <div class="container">
        <a href="javascript:;" class="menu-toggler"></a>
        <div class="top-menu">
          <ul class="nav navbar-nav pull-right">
            <li class="dropdown dropdown-user dropdown-dark">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <img alt="" class="img-circle" src="../app/js/cartelera/img/oreja_opt.jpg">
                <span class="username username-hide-mobile">{{ usuario.usuario }}</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-default">
                <li>
                  <a href="#" ui-sref="perfil()">
                    <i class="icon-user"></i> Mi Perfil
                  </a>
                </li>
                <li>
                  <a href="app_calendar.html">
                    <i class="icon-calendar"></i> My Calendar
                  </a>
                </li>
                <li>
                  <a href="app_inbox.html">
                    <i class="icon-envelope-open"></i> My Inbox
                    <span class="badge badge-danger"> 3 </span>
                  </a>
                </li>
                <li>
                  <a href="app_todo_2.html">
                    <i class="icon-rocket"></i> My Tasks
                    <span class="badge badge-success"> 7 </span>
                  </a>
                </li>
                <li class="divider"> </li>
                <li>
                  <a href="#" ng-click="logout()">
                    <i class="icon-key"></i> Cerrar sesión
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="page-header-menu">
      <div class="container">                                
        <div class="hor-menu  ">
          <ul class="nav navbar-nav">
            <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown">
                <a type="button" ui-sref="cartelera()"> Inicio
                    <span class="arrow"></span>
                </a>
            </li>
            <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown" ng-if="usuario.rol == 3">
                <a type="button" ui-sref="Intereses()"> Mis intereses
                    <span class="arrow"></span>
                </a>
            </li>
            <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown" ng-if="usuario.rol == 1">
                <a type="button" ui-sref="ABMcarteleras()"> ABM Carteleras
                    <span class="arrow"></span>
                </a>
            </li>
            <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown" ng-if="usuario.rol == 1">
                <a type="button" ui-sref="ABMpublicaciones()"> ABM Publicaciones
                    <span class="arrow"></span>
                </a>
            </li>
            <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown" ng-if="usuario.rol == 1">
                <a type="button" ui-sref="ABMusuarios()"> ABM Administradores
                    <span class="arrow"></span>
                </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>