<div class="page-wrapper">
    <div ng-controller="AdministracionCtrl">
        <div ng-include src="'js/cartelera/views/menu.html'"></div>
      </div>
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <div class="page-head">
                        <div class="container">
                          <div class="page-title">
                            <h1>Cartelera de la Facultad de Informática <br/>
                              <small>Trabajo final</small>
                            </h1>
                          </div>
                        </div>
                    </div>
                    <!-- BEGIN PAGE CONTENT BODY -->
                    <div class="page-content">
                        <div class="container">
                            <!-- BEGIN PAGE BREADCRUMBS -->
                            <ul class="page-breadcrumb breadcrumb">
                                <li>
                                    <a href="#" ui-sref="cartelera">Home</a> 
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>Mi Perfil</span>
                                </li>
                            </ul>
                            <!-- END PAGE BREADCRUMBS -->
                            <!-- BEGIN PAGE CONTENT INNER -->
                            <div class="page-content-inner">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- BEGIN PROFILE SIDEBAR -->
                                        <div class="profile-sidebar">
                                            <div class="portlet light profile-sidebar-portlet ">
                                                <!-- SIDEBAR USERPIC -->
                                                <div class="profile-userpic">
                                                    <img src="../app/js/cartelera/img/oreja_opt.jpg" class="img-responsive" alt="">
                                                </div>
                                                <!-- END SIDEBAR USERPIC -->
                                                <!-- SIDEBAR USER TITLE -->
                                                <div class="profile-usertitle">
                                                    <div class="profile-usertitle-name">{{usuario.nombre}} {{usuario.apellido}}</div>
                                                    <div class="profile-usertitle-job" style="padding-bottom: 30px;"> Developer </div>
                                                </div>
                                                <!-- END SIDEBAR USER TITLE -->
                                                <!-- SIDEBAR BUTTONS -->
                                                <!--<div class="profile-userbuttons">
                                                    <button type="button" class="btn btn-circle green btn-sm">Follow</button>
                                                    <button type="button" class="btn btn-circle red btn-sm">Message</button>
                                                </div>-->
                                                <!-- END SIDEBAR BUTTONS -->
                                                <!-- SIDEBAR MENU -->
                                                <!--<div class="profile-usermenu">
                                                    <ul class="nav">
                                                        <li class="active">
                                                            <a href="page_user_profile_1.html">
                                                                <i class="icon-home"></i> Overview </a>
                                                        </li>
                                                        <li>
                                                            <a href="page_user_profile_1_account.html">
                                                                <i class="icon-settings"></i> Account Settings </a>
                                                        </li>
                                                        <li>
                                                            <a href="page_user_profile_1_help.html">
                                                                <i class="icon-info"></i> Help </a>
                                                        </li>
                                                    </ul>
                                                </div>-->
                                                <!-- END MENU -->
                                            </div>
                                        </div>
                                        <!-- END BEGIN PROFILE SIDEBAR -->
                                        <!-- BEGIN PROFILE CONTENT -->
                                        <div class="profile-content">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="portlet light ">
                                                        <div class="portlet-title tabbable-line">
                                                            <div class="caption caption-md">
                                                                <i class="icon-globe theme-font hide"></i>
                                                                <span class="caption-subject font-blue-madison bold uppercase">Mi Perfil</span>
                                                            </div>
                                                            <ul class="nav nav-tabs" data-tabs="tabs">
                                                                <li class="active">
                                                                    <a data-target="#tab_1_1" data-toggle="tab">Informaci&oacute;n Personal </a>
                                                                </li>
                                                                <li>
                                                                    <a data-target="#tab_1_2" data-toggle="tab">Cambiar Foto</a>
                                                                </li>
                                                                <li>
                                                                    <a data-target="#tab_1_3" data-toggle="tab">Cambiar Contraseña</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="portlet-body">
                                                            <div class="tab-content">
                                                                <!-- PERSONAL INFO TAB -->
                                                                <div class="tab-pane active" id="tab_1_1">
                                                                    <form role="form" name="formularioPerfil" method="POST">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Nombre</label>
                                                                            <input type="text" ng-model="usuario.nombre" value="{{usuario.nombre}}" class="form-control" />
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="control-label">Apellido</label>
                                                                            <input type="text" ng-model="usuario.apellido" value="{{usuario.apellido}}" class="form-control" />
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="control-label">Email</label>
                                                                            <input type="email" value="{{usuario.email}}" class="form-control" ng-model="usuario.email"/>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="control-label">Documento de Identidad</label>
                                                                            <input type="text" value="{{usuario.dni}}" class="form-control" ng-model="usuario.dni"/>
                                                                        </div>                                                                        
                                                                        <div class="form-group">
                                                                            <label class="control-label">Fecha de nacimiento</label>
                                                                            <input type="date" value="{{usuario.fechaNacimiento}}" class="form-control" ng-model="usuario.fechaNacimiento"/>
                                                                        </div>
                                                                        <div class="margiv-top-10">
                                                                            <input type="submit" ng-click="modificarUsuario(usuario)" class="btn green" value="Guardar cambios" />
                                                                            <a href="javascript:;" class="btn default"> Cancelar </a>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <!-- END PERSONAL INFO TAB -->
                                                                <!-- CHANGE AVATAR TAB -->
                                                                <div class="tab-pane" id="tab_1_2">
                                                                    <form action="#" role="form">
                                                                        <div class="form-group">
                                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                                <!-- <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                                                    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                                                                                </div> -->
                                                                                <!-- <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div> -->
                                                                                <div>
                                                                                    <span class="btn default btn-file">
                                                                                        <span class="fileinput-new"> Elige una Imagen </span>
                                                                                        <!-- <span class="fileinput-exists"> Change </span> -->
                                                                                        <input type="file" id="file1" ng-files="getTheFiles($files)" name="file"> </span>
                                                                                    <!-- <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a> -->
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="margin-top-10">
                                                                            <a href="#" ng-click="uploadFiles()" class="btn green"> Cambiar Foto </a>
                                                                            <a href="javascript:;" class="btn default"> Cancelar </a>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <!-- END CHANGE AVATAR TAB -->
                                                                <!-- CHANGE PASSWORD TAB -->
                                                                <div class="tab-pane" id="tab_1_3">
                                                                    <form action="#" name="formularioPassword">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Contraseña Actual</label>
                                                                            <input type="password" class="form-control" ng-model="passActual" name="passActual" required />
                                                                            <span class="help-block" ng-show="formularioPassword.$submitted || formularioPassword.passActual.$touched">
                                                                                <span ng-show="formularioPassword.passActual.$error.required">La password es requerida.</span>
                                                                            </span>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="control-label">Nueva Contraseña</label>
                                                                            <input type="password" autocomplete="off" class="form-control"  ng-model="passNuevo1" name="pass1" id="pass1" required /> 
                                                                              <span class="help-block" ng-show="formularioPassword.$submitted || formularioPassword.pass1.$touched">
                                                                                <span ng-show="formularioPassword.pass1.$error.required">La password nueva es requerida.</span>
                                                                            </span>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="control-label">Repetir Contraseña</label>
                                                                            <input type="password" autocomplete="off" class="form-control"  ng-model="passNuevo2" required pw-check="pass1" name="pass2" />
                                                                            <span class="help-block" ng-show="formularioPassword.$submitted || formularioPassword.pass2.$touched">
                                                                                <span ng-show="formularioPassword.pass2.$error.required">La password es requerida.</span>
                                                                                <span ng-show="formularioPassword.pass2.$error.pwmatch">Las passwords no coinciden.</span>
                                                                            </span>
                                                                        </div>
                                                                        <div class="margin-top-10">
                                                                            <a type="button" ng-click="modificarPassword(passNuevo1)"  class="btn green" > Cambiar Contraseña </a>
                                                                            <a href="javascript:;" class="btn default"> Cancelar </a>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <!-- END CHANGE PASSWORD TAB -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END PROFILE CONTENT -->
                                    </div>
                                </div>
                            </div>
                            <!-- END PAGE CONTENT INNER -->
                        </div>
                    </div>
                    <!-- END PAGE CONTENT BODY -->
                    <!-- END CONTENT BODY -->
                </div>
            </div>
        </div>
    </div>
    <div footer style="width: 100%; display: table-row-group;"></div>
</div>
            