<div class="page-wrapper">
    <div header style="width: 100%; display: table-row-group;"></div>
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <div class="page-head">
                        <div class="container">
                          <div class="page-title">
                            <h1>Cartelera de la Facultad de Informática <br/>
                              <small>Trabajo final</small>
                            </h1>
                          </div>
                        </div>
                    </div>
                    <!-- BEGIN PAGE CONTENT BODY -->
                    <div class="page-content">
                        <div class="container">
                            <!-- BEGIN PAGE BREADCRUMBS -->
                            <ul class="page-breadcrumb breadcrumb">
                                <li>
                                    <a href="#" ui-sref="cartelera">Home</a> 
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>Mi Perfil</span>
                                </li>
                            </ul>
                            <div class="page-content-inner">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <!-- BEGIN Portlet PORTLET-->
                                        <div class="portlet light" ng-show="!nuevaCartelera">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span class="caption-subject bold uppercase"> Carteleras</span>
                                                </div>
                                                <div class="actions">
                                                    <button type="button" class="btn blue btn-sm btn-outline uppercase" ng-click="nuevaCartelera = true">
                                                        <i class="fa fa-plus"></i> Agregar
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="table-responsive" style="overflow: auto">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead>
                                                            <tr class="uppercase">
                                                                <th>Nombre</th>
                                                                <th>Acción</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="cartelera in carteleras">
                                                                <td style="width: 70%;">{{ cartelera.nombre }}</td>
                                                                <td>
                                                                    <button type="button" class="btn yellow btn-sm btn-outline" ng-click="editaCartelera = true">
                                                                        <i class="fa fa-pencil"></i> Editar
                                                                    </button> 
                                                                    <button type="button" class="btn red btn-sm btn-outline">
                                                                        <i class="fa fa-trash-o"></i> Eliminar
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Portlet PORTLET-->
                                        <div class="portlet light" ng-show="nuevaCartelera">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span class="caption-subject bold uppercase"> Nueva cartelera</span>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <form class="form-horizontal" name="formularioCartelera" method="POST">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" for="nombre">Nombre:</label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" type="text" name="nombre" id="nombre" ng-model="cartelera.nombre" required/>
                                                            <span class="help-block" ng-show="formularioCartelera.$submitted || formularioCartelera.nombre.$touched">
                                                                <span ng-show="formularioCartelera.nombre.$error.required">El nombre es requerido.</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" for="nombre">Permisos:</label>
                                                        <div class="col-md-6">
                                                            <div class="mt-radio-inline">
                                                                <label class="mt-radio">
                                                                    <input type="radio" name="permisos" ng-model="permisos.value" value="false" /><span></span>
                                                                    Privada
                                                                </label>
                                                                <label class="mt-radio">
                                                                    <input type="radio" name="permisos" ng-model="permisos.value" value="true"/><span></span>
                                                                    Pública
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-actions">
                                                        <div class="form-group">
                                                            <div class="col-md-3 col-md-offset-9">
                                                                <button type="button" class="btn default" ng-click="nuevaCartelera = false">Atrás</button>
                                                                <input type="submit" class="btn green" value="Enviar" ng-click="crearCartelera()" ng-disabled="formularioCartelera.$invalid"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div footer style="width: 100%; display: table-row-group;"></div>
</div>

            