<div class="page-wrapper">
    <div ng-controller="AdministracionCtrl">
        <div ng-include src="'js/cartelera/views/menu.html'"></div>
    </div>
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <div class="page-head">
                        <div class="container">
                          <div class="page-title">
                            <h1>Cartelera de la Facultad de Informática <br/>
                              <small>Trabajo final</small>
                            </h1>
                          </div>
                        </div>
                    </div>
                    <!-- BEGIN PAGE CONTENT BODY -->
                    <div class="page-content">
                        <div class="container">
                            <!-- BEGIN PAGE BREADCRUMBS -->
                            <ul class="page-breadcrumb breadcrumb">
                                <li>
                                    <a href="#" ui-sref="cartelera">Home</a> 
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>Permisos cartelera</span>
                                </li>
                            </ul>
                            <div class="page-content-inner">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <!-- BEGIN Portlet PORTLET-->
                                        <div class="portlet light">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span class="caption-subject bold uppercase">Permisos para publicar en cartelera</span>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <form class="form-horizontal" name="formularioUsuario" method="POST">
                                                    <div class="form-group">
                                                        <label class="col-md-1 control-label" for="cartelera">Cartelera:</label>
                                                        <div class="col-md-4">
                                                            <select class="form-control" ng-model="carteleraSeleccionada" ng-change="cargarUsuariosHabilitados()">
                                                                <option value="">Elija una cartelera</option>
                                                                <option ng-repeat="cartelera in carteleras" ng-value="{{cartelera.id}}">{{cartelera.nombre}}</option>
                                                            </select>                                                            
                                                        </div>
                                                        <div class="col-md-7">
                                                            <a type="button" class="btn btn-primary uppercase col-md-6 col-md-offset-6" ng-show="carteleraSeleccionada" ui-sref="AgregarPermisos({cartelera: carteleraSeleccionada})">Habilitar publicador</a>
                                                        </div>
                                                    </div>                                                        
                                                </form>
                                                <div class="table-responsive" style="overflow: auto" ng-show="carteleraSeleccionada && (usuarios.length > 0)">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead>
                                                            <tr class="uppercase">
                                                                <th>Usuario</th>
                                                                <th>Nombre y Apellido</th>
                                                                <th>Acción</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="usuario in usuarios">
                                                                <td style="width: 35%;">{{ usuario.usuario }}</td>
                                                                <td style="width: 35%;">{{ usuario.nombre }} {{usuario.apellido}}</td>
                                                                <td>
                                                                    <button type="button" class="btn red btn-sm btn-outline" ng-click="quitarPermisos(usuario)">Quitar permisos</button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="alert alert-warning" ng-show="carteleraSeleccionada && usuarios.length == 0">
                                                    <strong>Atención</strong>, no hay publicadores habilitados para publicar en esta cartelera
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div footer style="width: 100%; display: table-row-group;"></div>
</div>

            